<section class="admin-games mx-6">
  <div class="d-flex justify-content-between">
    <h1>Spel</h1>
    <div class="flex-end">
      <a href="/admin/games/new" class="btn btn-primary ">
        Nytt spel
      </a>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Titel</th>
        <th>Genre</th>
        <th>Lanseringsår</th>
      </tr>
    </thead>
    <tbody>
      <% games.forEach(game=> { %>
        <tr>
          <td>
            <%= game.id %>
          </td>
          <td>
            <%= game.title %>
          </td>
          <td>
            <%= game.genre %>
          </td>
          <td>
            <%= game.launch_year %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</section>