<section class="new-game">
  <h1>Nytt highscore</h1>

  <form method="post">
    <div class="row mb-3">
      <div class="col">
        <label for="title">Spel</label>
        <select name="title" id="title">
          <% games.forEach(game=> { %>
            <option value="<%= game.title %>">
              <%= game.title %>
            </option>
            <% }) %>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="player">Spelare</label>
        <input type="text" name="player" id="player" class="form-control" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="scoreDate">Datum</label>
        <input type="text" name="scoreDate" id="scoreDate" class="form-control" placeholder="ÅÅÅÅ-MM-DD" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="score">Poäng</label>
        <input type="number" name="highscore" id="score" class="form-control" />
      </div>
    </div>
    <button>Lägg till</button>
  </form>
</section>